body {
    margin: 0;
    background-image: url("logo.png");
    background-size: cover;
    background-position: center;
    font-family: Arial;
}

.box {
    width: 260px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin: 60px auto;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 10px;
    font-size: 14px;
}
